.badge-green {
    background-color: rgb(0, 255, 0) !important;
    color: black;
}
.badge-yellow {
    background-color: rgb(255, 255, 0) !important;
    color: black;
}
.badge-orange {
    background-color: rgb(255, 128, 0) !important;
    color: black;
}
.badge-red {
    background-color: rgb(255, 0, 0) !important;
    color: white;
}
.badge-norating {
    background-color: rgb(128, 128, 128) !important;
    color: white;
}
#metatagDropdown {
    border: 1px solid #ccc;
    max-height: 100px;
    overflow-y: auto;
    position: absolute;
    z-index: 1000; /* to ensure it appears on top */
    background-color: white;
  }

  #metatagDropdown div {
    padding: 5px 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    transition: background-color 0.2s;
  }

  #metatagDropdown div:last-child {
    border-bottom: none;
  }

  #metatagDropdown div:hover {
    background-color: #f7f7f7;
  }

  #quillEditorFormGroup.is-valid .ql-container, 
  #quillEditorFormGroup.is-valid .ql-toolbar {
      border-color: #28a745;
  }
  
  #quillEditorFormGroup.is-invalid .ql-container, 
  #quillEditorFormGroup.is-invalid .ql-toolbar {
      border-color: #dc3545;
  }

  h2, h3 {
    text-align: center;
    margin-top:5px !important;
  }

