{% extends "knowledge/base.html" %}
{% block title %}{{ block.super }} - Manage Tags {% endblock %}

{% block page_title%}Manage Tags{% endblock %}

{% block content %}

    <table class="table hidden" id="table">
        <thead>
            <tr>
                <th scope="col">Tag</th>
                <th scope="col">Number of Articles Using Tag</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for tag in tags %}
            <tr>
                <td>{{ tag.name }}</td>
                <td>
                    {{ tag.num_times_used }}
                </td>
                <td>
                    <form method="POST" action="{% url 'manage_tags' %}">
                        {% csrf_token %}
                        <input type="hidden" name="tag_id" value="{{ tag.id }}" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascript %}

   <script nonce="{{ request.csp_nonce }}">
        // Wait until the document content is fully loaded before running the script
        $(document).ready(function () {
            // Show the DataTable
            setUpdataTable({colReorder: true, order: false});
            // Fade in to prevent screen showing table, and redrawing the DataTable
            $("#table").fadeIn(100);
        });
    </script>

{% endblock%}