{% extends 'knowledge/base.html' %}
{% block title %}{{ block.super }} - My Articles{% endblock %}

{% block page_title%}My Knowledgebase Articles{% endblock %}

{% block content %}
    
    {% if articles %}
    <!-- If there are any articles-->
    <table class="table" id="table" style="display:none">
        <thead>
            <tr>
                <th>Title</th>
                <th>Article Extract</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- For each article we create a new row showing the details -->
            {% for article in articles %}
            <tr>
                <td>
                    <a href="{% url 'article_detail' article.id %}">{{ article.title }}</a>
                    {% if article.rating == 0.0 and article.downvotes.count == 0 %}
                    <span class="badge rounded-pill badge-norating" aria-label="Not Yet Rated">Not Yet Rated</span>
                    {% else %}
                        {% if article.rating >= 75 %}
                        <span class="badge rounded-pill badge-green" aria-label="{{ article.views }} views (Good rating)">
                            {{ article.views }}
                        </span>
                        {% elif article.rating >= 50 %}
                        <span class="badge rounded-pill badge-yellow" aria-label="{{ article.views }} views (Average rating)">
                            {{ article.views }}
                        </span>
                        {% elif article.rating >= 25 %}
                        <span class="badge rounded-pill badge-orange" aria-label="{{ article.views }} views (Below average rating)">
                            {{ article.views }}
                        </span>
                        {% else %}
                        <span class="badge rounded-pill badge-red" aria-label="{{ article.views }} views (Poor rating)">
                            {{ article.views }}
                        </span>
                        {% endif %}
                    {% endif %}
                </td>
                <td>{{ article.article|striptags|truncatechars:50 }}</td>
                <td>
                    <!-- Give user a button so they can edit this article (as it is their article)-->
                    <a href="{% url 'edit_article' article.id %}" class="btn btn-primary">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <!-- Otherwise User hasn't created any articles yet -->
        <h4 class='title'>You haven't written any articles yet.</h4>
        <p class='title'>Why not create a new article?</p>
    {% endif %}
    <br>

{% endblock %}

{% block javascript %}

    <script nonce="{{ request.csp_nonce }}">
        // Wait until the document content is fully loaded before running the script
        $(document).ready(function () {
            // Show the DataTable
            setUpdataTable({
                colReorder: true
            });
        });
        // Fade in to prevent redrawing the screen plus it looks nicer
        $("#table").fadeIn(100);
    </script>

{% endblock%}