{% extends 'knowledge/base.html' %}

{% block content %}
  <h2>All Knowledge Base Articles</h2>
  <table class="table" id="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Rating %</th>
        <th scope="col">Rating (Up/Down)</th>
        <th scope="col">Article Summary</th>
        <th scope="col">Created By</th>
        <th scope="col">Date Created</th>
        <th scope="col">Tags</th>
        {% if user.is_superuser %}
        <th scope="col">Actions</th> <!-- This column is only for superusers -->
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for article in articles %}
        <tr>
          <td>
            <a href="{% url 'article_detail' article.id %}">{{ article.title }}</a> 
            {% if article.rating == 0.0 and article.downvotes.count == 0 %}
                <span class="badge rounded-pill badge-norating">Not Yet Rated</span>
            {% else %}
                {% if article.rating >= 75 %}
                    <span class="badge rounded-pill badge-green"> {{ article.views }} </span>
                {% elif article.rating >= 50 %}
                    <span class="badge rounded-pill badge-yellow">{{ article.views }}</span>
                {% elif article.rating >= 25 %}
                    <span class="badge rounded-pill badge-orange">{{ article.views }}</span>
                {% else %}
                    <span class="badge rounded-pill badge-red">{{ article.views }}</span>
                {% endif %}
            {% endif %}
        </td>
          <td>{{ article.rating }}</td>
          <td>{{ article.upvotes.count }} / {{ article.downvotes.count }}</td>
          <td>{{ article.article|striptags|truncatechars:50 }}</td>
          <td>
            <a href="{% url 'user_articles' article.created_by.id %}">{{ article.created_by.username }}</a>
          </td>
          <td>{{ article.created_datetime|date:"d/m/Y"}}</td>
          <td>
            {% for tag in article.meta_data.all %}
                <a href="{% url 'home' %}?search={{ tag.name }}" class="btn btn-secondary m-1">{{ tag.name }}</a>
            {% empty %}
                No tags
            {% endfor %}
          </td>
          {% if user.is_superuser %}
          <td>
              {% if article.deleted_datetime %}
                  <a href="{% url 'undelete_article' article.id %}" class="btn btn-warning">Undelete</a>
              {% else %}
                  <a href="{% url 'delete_article' article.id %}" class="btn btn-danger">Delete</a>
              {% endif %}
          </td>
          {% endif %}
        </tr>
      {% empty %}
        <tr>
          <td colspan="{% if user.is_superuser %}6{% else %}5{% endif %}">No entries found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block extra_js %}
   <script>
    // Wait until the document content is fully loaded before running the script
        $(document).ready(function () {
            setUpdataTable({
              colReorder: true
           });
        });
    </script>
{% endblock%}