{% extends 'knowledge/base.html' %}

{% block content %}
  <h2>{{ article.title }}</h2>
  {% if user.is_superuser or article.created_by == user %}
  <a href="{% url 'edit_article' %}?id={{ article.id }}" class="btn btn-warning">Edit Article</a>
  {% endif %}
  <p>{{ article.article|safe }}</p>

  <p><strong>Author:</strong> {{ author_name }}</p>
  <p><strong>Created Date:</strong> {{ created_date|date:"H:i:s jS F, Y" }}</p>
  <p><strong>Last Modified By:</strong> {{ last_modified_by }}</p>
  <p><strong>Last Modified Date:</strong> {{ last_modified_date|date:"H:i:s jS F, Y" }}</p>


  
  <h3>Metadata Tags</h3>
  <div class="mt-3">
    {% for tag in article.meta_data.all %}
      <a href="{% url 'home' %}?search={{ tag.name }}" class="btn btn-secondary m-1">{{ tag.name }}</a>
    {% endfor %}
  </div>
  <br>

  {% if user.is_superuser %}
  <a href="{% url 'delete_article' article.id %}" class="btn btn-danger">Delete Article</a>
  <br>
  {% endif %}
  <br>
{% endblock %}