{% extends 'knowledge/base.html' %}
{% block title %}{{ block.super }} - Article: {{ article.title }}{% endblock %}
{% block content %}
    <h2>{{ article.title }}</h2>

    {% if is_deleted %}
        <div class="alert alert-danger" role="alert">
            This Article has been Deleted and is not visible to Normal Users!
        </div>
    {% endif %}

    {% if user.is_superuser or article.created_by == user %}
        <a href="{% url 'edit_article' article.id %}" class="btn btn-warning">Edit Article</a>
    {% endif %}

    <div class="ql-editor ql-snow">
        {{ article.article|safe }}
    </div>

    <p><strong>Author:</strong> <a href="{% url 'user_articles' article.created_by.id %}"
            title="See all articles by {{ article.created_by.username }}">{{ article.created_by.username }}</a></p>
    <p><strong>Created Date:</strong> {{ article.created_datetime|date:"d/m/Y H:i:s" }}</p>

    {% if article.last_modified_by %}
        <p><strong>Last Modified By:</strong> {{ article.last_modified_by }}</p>
        <p><strong>Last Modified Date:</strong> {{ article.modified_datetime|date:"d/m/Y H:i:s" }}</p>
    {% endif %}

    <p><strong>Views:</strong> {{ article.views }}</p>
    <p><strong>Rating:</strong>
    {% if article.rating != 0.0 or article.downvotes.count > 0 %}
        <span id="rating">{{ article.rating }} % ({{article.upvotes.count}} Up / {{article.downvotes.count}} Down)</span>
    {% else %}
        <span id="rating">Not Yet Rated</span>
    {% endif %}
    </p>
    <p><strong># of MetaTags:</strong> {{ article.meta_data.count }} </p>
    <br>

    {% if user != article.created_by and not user.is_superuser %}
        <button class="btn btn-success mb-5" id="upvote" {% if user_has_upvoted %} disabled {% endif %}>Upvote</button>
        <button class="btn btn-danger mb-5" id="downvote" {% if user_has_downvoted %} disabled {% endif %}>Downvote</button>
    {% endif %}

    <h3>Metadata Tags</h3>
    <div class="mt-3 text-center">
    {% for tag in article.meta_data.all %}
        <a href="{% url 'home' %}?search={{ tag.name }}" class="btn btn-secondary m-1">{{ tag.name }}</a>
    {% endfor %}
    </div>
    <br>

    <!-- Show Delete or Undelete and Permanently Delete for SuperUser-->
    {% if user.is_superuser %}
        {% if is_deleted %}
            <a href="{% url 'undelete_article' article.id %}" class="btn btn-success">Undelete Article</a>
            <a href="{% url 'confirm_permanent_delete' article.id %}" class="btn btn-danger">Permanently Delete</a>
        {% else %}
            <a href="{% url 'delete_article' article.id %}" class="btn btn-danger">Delete Article</a>
        {% endif %}
        <br>
    {% endif %}
    <br>
{% endblock %}

{% block extra_js %}
    <script>
        // Wait for the page to load
        window.onload = function () {

            // Upvote button - if I put the url and csrf in data-attributes on the button I can move this to static file
            $('#upvote').click(function () {
                $.ajax({
                    url: "{% url 'upvote_article' article.id %}",
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (response) {
                        // Assuming the response contains the updated rating
                        $('#rating').text(response.rating +" % ("+response.upvotes+" Up / "+response.downvotes+" Down)" );
                        $('#upvote').prop('disabled', true);
                        $('#downvote').prop('disabled', false);
                    }
                });
            });

            // Downvote button
            $('#downvote').click(function () {
                $.ajax({
                    url: "{% url 'downvote_article' article.id %}",
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (response) {
                        // Assuming the response contains the updated rating
                        $('#rating').text(response.rating +" % ("+response.upvotes+" Up / "+response.downvotes+" Down)" );
                        $('#downvote').prop('disabled', true);
                        $('#upvote').prop('disabled', false);
                    }
                })
            });
        }
    </script>
{% endblock %}