{% extends 'knowledge/base.html' %}
{% block title %}{{ block.super }} - Audit Logs {% endblock %}

{% block page_title%}Audit Logs{% endblock %}

{% block content %}

    <!-- Display a Table with all Audit Events -->
    <!-- We could add additional events to the table such as user login, password resets, logout, searches -->
    <!-- But for simplicity we just log create, edit and deletion of articles -->
    <table class="table" id="table" style="display: none">
        <thead>
            <tr>
                <th>User/IP Address</th>
                <th>Action Date & Time</th>
                <th>Article Name</th>
                <th>Action Details</th>
            </tr>
        </thead>
        <tbody>
            {% for audit in audits %}
            <tr>
                {%if audit.user%}               
                    <td>{{ audit.user.username }}</td>
                {% else %}
                    <td>{{ audit.ip_address }}</td>
                {% endif %}
                <td>{{ audit.action_datetime }}</td>
                {% if audit.kb_entry %}
                <td>
                    <a href="/article/{{ audit.kb_entry.id }}">{{ audit.kb_entry.title }}</a>
                </td>
                {% else %}
                <td>N/A</td>
                {% endif %}
                <td>{{ audit.action_details }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascript %}

    <script>
        // Wait until the document content is fully loaded before running the script
        $(document).ready(function () {
            setUpdataTable({ colReorder: true, order: false });
            // Fade in table to prevent it drawing twice
            $("#table").fadeIn(100);
        });
    </script>

{% endblock%}