{% extends "knowledge/base.html" %} {% block title %}{{ block.super }} - Change
Password {% endblock %} {% block content %}
<h2>Change Password</h2>
<div class="row justify-content-center">
    <div class="col-md-4">
        <form method="POST">
            {% csrf_token %} {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <input
                    type="{{ field.field.widget.input_type }}"
                    class="form-control {% if field.errors %}is-invalid{% elif form.data %}is-valid{% endif %}"
                    id="{{ field.id_for_label }}"
                    name="{{ field.html_name }}"
                    {%
                    if
                    field.value
                    !="None"
                    %}value="{{ field.value }}"
                    {%
                    endif
                    %} />
                {% for error in field.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>
            {% endfor %}
            <br>
            <button type="submit" class="btn btn-primary">
                Reset Password
            </button>
        </form>
    </div>
</div>
{% endblock %}
