<!-- templates/knowledge/kb_list.html -->
{% extends 'knowledge/base.html' %}

{% block content %}
  <br>
  <h2>Knowledge Base Entries</h2>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Article</th>
        <th scope="col">Created By</th>
        <th scope="col">Date Created</th>
        <th scope="col">Date Deleted</th>
        <th scope="col">Tags</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in entries %}
        <tr>
          <th scope="row">{{ entry.id }}</th>
          <td>{{ entry.title }}</td>
          <td>{{ entry.article|striptags|truncatechars:50 }}</td>
          <td>{{ entry.created_by.username }}</td>
          <td>{{ entry.created_datetime }}</td>
          <td>{{ entry.deleted_datetime }}</td>
          <td>
            {% for tag in entry.meta_data.all %}
                <span class="tag">{{ tag.name }}</span>{% if not forloop.last %}, {% endif %}
            {% empty %}
                No tags
            {% endfor %}
        </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No entries found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}