{% extends "knowledge/base.html" %}
{% block content %}

<h1>Manage Tags</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Tag</th>
            <th scope="col">Number of Uses</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for tag in tags %}
        <tr>
            <td>{{ tag.name }}</td>
            <td>
                {{ tag.num_times_used }}
            </td>
            <td>
                <form method="post" action="{% url 'manage_tags' %}">
                    {% csrf_token %}
                    <input type="hidden" name="tag_id" value="{{ tag.id }}" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}