{% extends 'knowledge/base.html' %}

{% block content %}
<h2>My Knowledgebase Articles</h2>
{% if articles %}
    <table class="table" id="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Article Extract</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td><a href="{% url 'article_detail' article.id %}">{{ article.title }}</a>
                    {% if article.rating == 0.0 and article.downvotes.count == 0 %}
                        <span class="badge rounded-pill badge-norating">Not Yet Rated</span>
                    {% else %}
                        {% if article.rating >= 75 %}
                            <span class="badge rounded-pill badge-green"> {{ article.views }} </span>
                        {% elif article.rating >= 50 %}
                            <span class="badge rounded-pill badge-yellow">{{ article.views }}</span>
                        {% elif article.rating >= 25 %}
                            <span class="badge rounded-pill badge-orange">{{ article.views }}</span>
                        {% else %}
                            <span class="badge rounded-pill badge-red">{{ article.views }}</span>
                        {% endif %}
                    {% endif %}
                </td>
                <td>{{ article.article|striptags|truncatechars:50 }}</td>
                <td>
                    <a href="{% url 'edit_article' article.id %}" class="btn btn-warning">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>You haven't written any articles yet.</p>
{% endif %}
{% endblock %}

{% block extra_js %}
   <script>
    // Wait until the document content is fully loaded before running the script
        $(document).ready(function () {
            setUpdataTable({colReorder: true});
        });
    </script>
{% endblock%}