{% extends "knowledge/base.html" %}
{% block title %}{{ block.super }} - Reset Password {% endblock %}

{% block page_title%}Reset Password{% endblock %}

{% block content %}

    <div class='col-md-4 offset-md-4 text-center'>
        <p>Please enter your registered email address and we'll create a link you can use to your password</p>
        <form method="POST" novalidate>
            {% csrf_token %}
            <div class="mb-3">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control {% if form.email.errors %}is-invalid{% elif form.email.data %}is-valid{% endif %}" id="email"
                    value="{{ form.email.value|default_if_none:'' }}" required>
                <div class="invalid-feedback">{{ form.email.errors.as_text }}</div>
            </div>
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
    
{% endblock %}