{% extends "knowledge/base.html" %}
{% block title %}{{ block.super }} - Reset Password{% endblock %}
{% block content %}
<div class='col-md-6 offset-md-3 text-center'>
<h2>Reset Password</h2>
<p>Enter your new password below:</p>
<form method="post">
    <div class="row justify-content-center">
        <div class="col-md-8">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <input type="{{ field.field.widget.input_type }}"
                    class="form-control {% if field.errors %}is-invalid{% elif form.data %}is-valid{% endif %}"
                    id="{{ field.id_for_label }}" name="{{ field.html_name }}"
                    {% if field.value != None %}value="{{ field.value }}" {% endif %}>
                {% for error in field.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary mt-3">Reset Password</button>
        </div>
    </div>
</form>
</div>
{% endblock %}